type init_qseecomd, domain;
type init_qseecomd_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(init_qseecomd)

allow init_qseecomd vendor_shell_exec:file rx_file_perms;
allow init_qseecomd vendor_toolbox_exec:file rx_file_perms;

allow init_qseecomd shell_exec:file { getattr read };
allow init_qseecomd toolbox_exec:file { execute execute_no_trans getattr open read };

