#allow qseeproxy default_android_service:service_manager add;
allow qseeproxy servicemanager:binder { call transfer };

#add_service(qseeproxy, default_android_service)
