allow rild nv_data_file:dir rw_dir_perms;
allow rild nv_data_file:file create_file_perms;
allow rild diag_prop:property_service set;
allow rild diag_device:chr_file { read write };
allow rild toolbox_exec:file { r_file_perms execute execute_no_trans };
get_prop(rild, diag_prop);


allow rild default_android_service:service_manager find;
#allow rild init:binder call;
allow rild servicemanager:binder call;


qmux_socket(rild)

allow rild per_mgr_service:service_manager find;

hwbinder_use(rild)

vndbinder_use(rild)
binder_call(rild, per_mgr)

# callback into telephony app
binder_call(rild, platform_app);

allow rild netmgrd_socket:dir search;
unix_socket_connect(rild, netmgrd, netmgrd)

r_dir_file(rild, sysfs_type)

# rild needs 'lock' for /vendor/qcril.db
allow rild vendor_file:file { lock };

# TODO(b/36613472): Remove this once system_server,  mediaserver, bluetooth, and radio no longer
# communicate with rild over sockets.
typeattribute rild socket_between_core_and_vendor_violators;

allow rild audioserver_service:service_manager find;
