allow toolbox init:fifo_file { getattr read write };
allow toolbox init:netlink_generic_socket { read write };
allow toolbox init:netlink_route_socket { read write };
allow toolbox init:netlink_xfrm_socket { read write };
allow toolbox init:unix_stream_socket connectto;
allow toolbox net_data_file:file { read write };
allow toolbox property_socket:sock_file write;
allow toolbox self:capability { chown net_admin };
allow toolbox self:udp_socket { create ioctl };
allow toolbox sensors_persist_file:file getattr;
allow toolbox sysfs:file { open read };
allow toolbox sysfs_graphics:file { getattr open read setattr };

allow toolbox init:udp_socket { read write };
allow toolbox persist_alarm_file:dir search;
allow toolbox persist_alarm_file:file { open read };
allow toolbox proc:file { open read };
allow toolbox self:capability { dac_override fowner fsetid };
allow toolbox self:udp_socket ioctl;
allow toolbox sensors_persist_file:dir getattr;
allow toolbox sysfs:file { getattr setattr };


allow toolbox radio_data_file:dir { getattr search };
allow toolbox radio_data_file:file { getattr open read setattr };


allow toolbox firmware_file:file { open read };
allow toolbox init:fifo_file ioctl;


allow toolbox bluetooth_prop:property_service set;
allow toolbox sensors_prop:property_service set;

