[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group OnePlus 5 Maintainers
[access "refs/heads/*"]
	create = group OnePlus 5 Maintainers
	push = +force group OnePlus 5 Maintainers
	pushMerge = group OnePlus 5 Maintainers
	label-Code-Review = -2..+2 group OnePlus 5 Maintainers
	label-Verified = -1..+1 group OnePlus 5 Maintainers
	submit = group OnePlus 5 Maintainers
