# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;
allow init vendor_overlay_file:file mounton;

allow init sysfs:dir add_name;
allow init sysfs:file create;

allow init debugfs:dir mounton;

allow init system_file:system module_load;
allow init vendor_file:file mounton;

allow init proc:dir rw_dir_perms;
allow init proc:file rw_file_perms;
