allow priv_app atrace_exec:file getattr;
allow priv_app audioserver_exec:file getattr;
allow priv_app blkid_exec:file getattr;
allow priv_app bootanim_exec:file getattr;
allow priv_app bootstat_exec:file getattr;
allow priv_app cameraserver_exec:file getattr;
allow priv_app clatd_exec:file getattr;
allow priv_app dexoptanalyzer_exec:file getattr;
allow priv_app dnsmasq_exec:file getattr;
allow priv_app dpmd_exec:file getattr;
allow priv_app drmserver_exec:file getattr;
allow priv_app dumpstate_exec:file getattr;
allow priv_app fsck_exec:file getattr;
allow priv_app gatekeeperd_exec:file getattr;
allow priv_app hal_allocator_default_exec:file getattr;
allow priv_app healthd_exec:file getattr;
allow priv_app hwservicemanager_exec:file getattr;
allow priv_app idmap_exec:file getattr;
allow priv_app incident_exec:file getattr;
allow priv_app incidentd_exec:file getattr;
allow priv_app installd_exec:file getattr;
allow priv_app keystore_exec:file getattr;
allow priv_app mac_perms_file:file getattr;
allow priv_app netutils_wrapper_exec:file getattr;
allow priv_app nfc_data_file:dir getattr;
allow priv_app sepolicy_file:file read;
allow priv_app system_app_data_file:dir getattr;

