allow system_app sysfs_graphics_omni:file rw_file_perms;
allow system_app sysfs_graphics_omni:dir search;
allow system_app sysfs_fpc_proximity:file rw_file_perms;
allow system_app sysfs_vibrator:file rw_file_perms;
allow system_app sysfs_vibrator:dir search;
allow system_app proc_key_rep:file rw_file_perms;

#selinux status
allow system_app selinuxfs:file r_file_perms;

allow system_app wificond:binder call;

