allow system_server sysfs_graphics_omni:file rw_file_perms;
allow system_server sysfs_graphics_omni:dir search;

set_prop(system_server, shell_prop)

allow system_server audioserver:file w_file_perms;
allow system_server hal_audio:file write;

