on init
    export LD_SHIM_LIBS "/system/lib/hw/camera.msm8998.so|libcamera_shim.so:/system/vendor/lib64/libril-qc-qmi-1.so|libshims_system_properties.so"

    # Set permissions for dsp partition
    mkdir /dsp 0771 media media

    # Setup zram options
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 8
    write /proc/sys/vm/page-cluster 0

on boot
    # Touchscreen
    chown system radio /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

    chown root system /proc/touchpanel/letter_o_enable
    chmod 0660 /proc/touchpanel/letter_o_enable

    chown root system /proc/touchpanel/music_enable
    chmod 0660 /proc/touchpanel/music_enable

    chown root system /proc/touchpanel/double_swipe_enable
    chmod 0660 /proc/touchpanel/double_swipe_enable

    chown root system /proc/touchpanel/up_arrow_enable
    chmod 0660 /proc/touchpanel/up_arrow_enable

    chown root system /proc/touchpanel/down_arrow_enable
    chmod 0660 /proc/touchpanel/down_arrow_enable

    chown root system /proc/touchpanel/left_arrow_enable
    chmod 0660 /proc/touchpanel/left_arrow_enable

    chown root system /proc/touchpanel/right_arrow_enable
    chmod 0660 /proc/touchpanel/right_arrow_enable

    chown root system /proc/touchpanel/left_swipe_enable
    chmod 0660 /proc/touchpanel/left_swipe_enable

    chown root system /proc/touchpanel/right_swipe_enable
    chmod 0660 /proc/touchpanel/right_swipe_enable

    chown root system /proc/touchpanel/up_swipe_enable
    chmod 0660 /proc/touchpanel/up_swipe_enable

    chown root system /proc/touchpanel/down_swipe_enable
    chmod 0660 /proc/touchpanel/down_swipe_enable

    chmod 0660 /sys/devices/soc/soc:fpc_fpc1020/proximity_state
    chown system system /sys/devices/soc/soc:fpc_fpc1020/proximity_state

    # Graphics
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/mode
    chmod 0666 /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb0/modes
    chmod 0666 /sys/class/graphics/fb0/modes
    chown system graphics /sys/class/graphics/fb0/hbm
    chmod 0666 /sys/class/graphics/fb0/hbm
    chown system graphics /sys/class/graphics/fb0/SRGB
    chmod 0666 /sys/class/graphics/fb0/SRGB
    chown system graphics /sys/class/graphics/fb0/DCI_P3
    chmod 0666 /sys/class/graphics/fb0/DCI_P3
    chown system graphics /sys/class/graphics/fb0/night_mode
    chmod 0666 /sys/class/graphics/fb0/night_mode

    # rgb/blink led
    chown system system /sys/class/leds/red/start_idx
    chown system system /sys/class/leds/blue/start_idx
    chown system system /sys/class/leds/green/start_idx
    chown system system /sys/class/leds/rgb/rgb_blink
    chmod 660 /sys/class/leds/red/start_idx
    chmod 660 /sys/class/leds/green/start_idx
    chmod 660 /sys/class/leds/blue/start_idx
    chmod 660 /sys/class/leds/rgb/rgb_blink

    setprop camera.aux.packagelist "org.omnirom.snap,org.codeaurora.snapcam,com.oneplus.camera"

on post-fs
    # Vibrator
    chown system system /sys/class/timed_output/vibrator/vtg_default
    chown system system /sys/class/timed_output/vibrator/vtg_level
    chown system system /sys/class/timed_output/vibrator/vtg_max
    chown system system /sys/class/timed_output/vibrator/vtg_min

service dashd /sbin/dashd
    class core
    critical
    #seclabel u:r:dashd:s0
    group root system
