on init
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/FrameworksResCommon.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/FrameworksResTarget.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/OPFrameworkConfigOverlay.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/SystemUIResCommon.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/TelecommResCommon.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/TelephonyResCommon.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/CellBroadcastReceiverResCommon.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_squircle/OnePlusIconShapeSquircleOverlay.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_circle/OnePlusIconShapeCircleOverlay.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_teardrop/OnePlusIconShapeTeardropOverlay.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_square/OnePlusIconShapeSquareOverlay.apk bind
    mount none /system/overlay/EmptyOverlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_roundedrect/OnePlusIconShapeRoundedRectOverlay.apk bind

    setprop vendor.boot.project_name ${ro.boot.project_name}

on boot
   # default country code
   setprop ro.boot.wificountrycode 00
    #liuyan 2017/7/27 add for goodix fp
    chmod 0666 /dev/goodix_fp
    #NFC, ruanbanmao add for 15801 nfc. 2015/10/19
    setprop ro.nfc.port "I2C"
    chmod 0666 /dev/pn544
    chown nfc nfc /dev/pn544
    chmod 0666 /dev/p61
    chown spi spi /dev/p61
    chmod 0666 /dev/dash/

    chown system system /sys/devices/virtual/graphics/fb0/hbm
    chmod 0660 /sys/devices/virtual/graphics/fb0/hbm

#on post-fs
#    setprop sys.usb.ffs.aio_compat 1

#service vendor.boot-hal-1-0 /system/bin/true
#    disabled
