on init
    mount none /system/etc/audio_policy_configuration_omni.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
    mount none /system/lib/modules/msm_11ad_proxy.ko /vendor/lib/modules/msm_11ad_proxy.ko bind
    mount none /dev/null /vendor/overlay/SysuiDarkTheme/SysuiDarkThemeOverlay.apk bind
    mount none /system/lib/hw/lights.oneplus5.so /vendor/lib/hw/lights.msm8998.so bind
    mount none /system/lib64/hw/lights.oneplus5.so /vendor/lib64/hw/lights.msm8998.so bind
    mount none /system/lib/hw/power.oneplus5.so /vendor/lib/hw/power.qcom.so bind
    mount none /system/lib64/hw/power.oneplus5.so /vendor/lib64/hw/power.qcom.so bind
    mount none /dev/null /vendor/etc/init/android.hardware.health@2.0-service.rc bind

on boot
   # default country code
   setprop ro.boot.wificountrycode 00
    #liuyan 2017/7/27 add for goodix fp
    chmod 0666 /dev/goodix_fp
    #NFC, ruanbanmao add for 15801 nfc. 2015/10/19
    setprop ro.nfc.port "I2C"
    chmod 0666 /dev/pn544
    chown nfc nfc /dev/pn544
    chmod 0666 /dev/p61
    chown spi spi /dev/p61
    chmod 0666 /dev/dash/

    chown system system /sys/devices/virtual/graphics/fb0/hbm
    chmod 0660 /sys/devices/virtual/graphics/fb0/hbm

#on post-fs
#    setprop sys.usb.ffs.aio_compat 1
