on init
    #stop power-hal-1-0

    mount none /system/etc/media_profiles_vendor.xml /vendor/etc/media_profiles_vendor.xml bind
    mount none /system/etc/audio_policy_configuration_omni.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_effects_omni.conf /vendor/etc/audio_effects.conf bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
    mount none /dev/null /vendor/overlay/SysuiDarkTheme/SysuiDarkThemeOverlay.apk bind
    #mount none /system/etc/init/android.hardware.power@1.1-service.oneplus6.rc /vendor/etc/init/android.hardware.power@1.0-service.rc bind

on post-fs-data
    #for nv items and mac
    mkdir /data/oemnvitems  0771 radio radio
    # Generate wifi mac
    start wifi-mac-generator

on boot
   # default country code
   setprop ro.boot.wificountrycode 00
    #liuyan 2017/7/27 add for goodix fp
    chmod 0666 /dev/goodix_fp
    #NFC, ruanbanmao add for 15801 nfc. 2015/10/19
    setprop ro.nfc.port "I2C"
    chmod 0666 /dev/pn544
    chown nfc nfc /dev/pn544
    chmod 0666 /dev/p61
    chown spi spi /dev/p61
    chmod 0666 /dev/dash/

